<html>
<head>
    <title></title>
    <meta content="">
    <style></style>
</head>
<body>
<form id="myForm">
    <label for="myName">Send me your name:</label>
    <input id="myName" name="name" value="Alex">
    <br>
    <label for="userId">your email:</label>
    <input id="userId" name="email" value="ramugn@gmial.com">
    <br>
    <label for="myJob">your address:</label>
    <input id="myJob" name="address" value="Web Dev">
    <br>
    <label for="age">your age:</label>
    <input id="age" name="age" value="23">
    <br>
    <input id="postSubmit" type="submit" value="Send Me!">
</form>
</body>
<script>
  const thisForm = document.getElementById('myForm');
thisForm.addEventListener('submit', async function (e) {
    e.preventDefault();
    const formData = new FormData(thisForm).entries()
    const response = await fetch('http://localhost:8080/customer', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(Object.fromEntries(formData))
    });

    const result = await response.json();
    console.log(result)
});
  </script>
</html>
